<!DOCTIPE>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Mali&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"
	rel="stylesheet">
<meta charset="utf-8">
<title>CheeseProject</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	"HELP.md"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<link href="css/general.css" rel="stylesheet">
</head>
<body class="a">

	<nav
		class="navbar navbar-expand-lg fixed-top navbar-default navbar-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">CHEESE</a>
			</div>

			<div>
				<ul class="nav navbar-nav">
					<li><a href="/home">Main</a></li>
					<li><a href="/about">About Us</a></li>
					<li class="active"><a href="#">Contacts</a></li>
				</ul>
			</div>

		</div>
	</nav>
<div class="container">

<h1>Cheese Community</h1><br>
<p>
Vitaliya Dovgalyuk <br>
cheese@cognizant.com <br>
+37120498399
</p>

</div>

		<div>
			<blockquote class="blockquote-reverse quote">Age is of
				no importance unless you are a cheese.</blockquote>
		</div>
	</section>
	<script src="js/main.js"></script>
</body>
</html>